/******************************/
/************HOME**************/
/******************************/
body{
    background-color: blue;
}
/************header************/
nav{
    display: flex;
    justify-content: space-evenly;
}